
.color1 {
  background-color: #94a53f;
  color: #ffffff;
}
.color2 {
  background-color: #e2b808;
  color: #ffffff;
}
.color3 {
  background-color: #e69542;
  color: #ffffff;
}
#logo{
    object-fit: contain;
width: 100%;
background-color: #fffef2;
height: auto;

  
}
.header{
  background-image: url("Images/elvi\ light.png");
}

#zomato{

  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: 25%;
  height: auto;

}
#swiggy{

  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: 50%;
  height: auto;
  flex: right;
  max-width: 200%;
  max-height: 200%;
 
}


/*Centers Image on Blog*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: auto;
  height: auto;
  text-align: center;
}


* {
  box-sizing: border-box;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  #logo{
    object-fit: contain;
width: 100%;
background-color: #fffef2;
height: auto;
}





@media screen and (max-width: 595px) {
  html {
    text-align: center;
    display: block;
  }


  
}
#zomato{

  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: 50%;
  height: auto;

}
#swiggy{

  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: 100%;
  height: auto;
  flex: right;
  max-width: 200%;
  max-height: 200%;
 
}
}